<div class="container">
  <div class="left-column">
    <button routerLink="/snake">Chuyen man</button>
    <h1>BLUE</h1>
    <div class="form-count-point">
      <span class="text-count-point">{{countBlue}}</span>
    </div>
  </div>

  <div class="form-action">
    <h3>TIME</h3>
    <!--    <h2>02:00</h2>-->
    <h2>{{formatTime(remainingTime)}}</h2>
    <div class="form-action-btn">
      <button class="btn-point" nz-button nzType="default" (click)="startTime()" >Start</button>
      <button class="btn-point" nz-button nzType="default" (click)="stopTime()">Stop</button>
      <button class="btn-point" nz-button nzType="default" (click)="resetTime()">Reset</button>
    </div>
    <button class="btn-point-reset-score" nz-button nzType="default">Reset Score</button>
  </div>

  <div class="right-column">
    <h1>RED</h1>
    <div class="form-count-point">
      <span class="text-count-point">{{count}}</span>
    </div>
  </div>
</div>




