<div class="container">
  <div class="left-column">
    <h1>TÀI</h1>
    <div class="form-count-point">
      <span class="text-count-point">00</span>
    </div>
    <div class="list-btn">
      <button class="btn-point" nz-button nzType="default">1 Point</button>
      <button class="btn-point" nz-button nzType="default">2 Point</button>
      <button class="btn-point" nz-button nzType="default">3 Point</button>
      <button class="btn-point" nz-button nzType="default">Foul</button>
    </div>
  </div>

  <div class="form-action">
    <h3>TIME</h3>
<!--    <h2>02:00</h2>-->
    <h2>{{remainingTime}}</h2>
    <div class="form-action-btn">
<!--      <button class="btn-point" nz-button nzType="default" (click)="{}" )>Start</button>-->
      <button class="btn-point" nz-button nzType="default">Stop</button>
      <button class="btn-point" nz-button nzType="default">Reset</button>
    </div>
    <button class="btn-point-reset-score" nz-button nzType="default">Reset Score</button>
  </div>

  <div class="right-column">
    <h1>XỈU</h1>
    <div class="form-count-point">
      <span class="text-count-point">00</span>
    </div>
    <div class="list-btn">
      <button class="btn-point" nz-button nzType="default">1 Point</button>
      <button class="btn-point" nz-button nzType="default">2 Point</button>
      <button class="btn-point" nz-button nzType="default">3 Point</button>
      <button class="btn-point" nz-button nzType="default">Foul</button>
    </div>
  </div>
</div>




